@import	'./vendor/rupture.styl'

@import './fonts.css'
@import './variables.styl'
@import './tabs.styl'
// @import './forms.styl'

#wrapper
	width: 100%
	max-width: 1320px
	padding: 0 15px
	margin: 0 auto
