@import	'./vendor/rupture.styl'

@import './fonts.css'
@import './variables.styl'
@import './tabs.styl'
// @import './forms.styl'

#wrapper
	width: 100%
	max-width: 1320px
	padding: 0 15px
	margin: 0 auto

#footer-escolas
	p
		font-size: 14px
		color: gray
		line-height: 1.2em
		a
			color: gray;
			text-decoration: underline
		b
			font-weight: bold


.retraction
	margin: 1.94em 0
	&__title
		font-size: 0.88em
		margin-bottom: 0
		font-weight: 500
	&__modified-date
		display: inline-block
		color: #757575
		font-size: 0.77em
		margin-bottom: 0.55em
	p
		font-size: 16px
		line-height: 1
