@import	'./vendor/rupture.styl'

@import './fonts.css'
@import './variables.styl'
@import './tabs.styl'
// @import './forms.styl'

#wrapper
	width: 100%
	max-width: 1320px
	padding: 0 15px
	margin: 0 auto

#footer-escolas
	p
		font-size: 14px
		color: gray
		line-height: 1.2em
		a
			color: gray;
			text-decoration: underline
		b
			font-weight: bold
